/Users/Skynet/Desktop/Programming/DevOpsFull/part1/1.14/rails-example-project
/Users/Skynet/Desktop/Programming/DevOpsFull/part1/1.13/spring-example-project
/Users/Skynet/Desktop/Programming/DevOpsFull/part1/1.12/frontend/frontend-example-docker
/Users/Skynet/Desktop/Programming/DevOpsFull/part1/1.12/backend/backend-example-docker
/Users/Skynet/Desktop/Programming/DevOpsFull/part1/1.11/backend-example-docker
/Users/Skynet/Desktop/Programming/DevOpsFull/part1/1.10/frontend-example-docker
